body {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  header {
    padding: 30px 15px;
  }
}

header .logo img {
  position: relative;
  max-width: 300px;
}

header .link {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-top: 5px;
}

.tab-games {
  width: 100%;
  float: left;
}

.navigation {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 30px;
}

.navigation li {
  position: relative;
  list-style: none;
}

.navigation li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #fff;
  color: #333;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border-radius: 50%;
  font-size: 1.5em;
  text-decoration: none;
}

.navigation li a.active, .navigation li a.active:hover {
  background: #f00;
  color: #fff;
}

.navigation li a:hover {
  color: #f00;
}

.imgScroll {
  position: absolute;
  left: 0;
  padding: 60px 0;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.imgScroll div {
  display: flex;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

.imgScroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

.imgScroll:hover div, .imgScroll:hover div:nth-child(2) {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.imgScroll div img {
  margin: 0 25px;
  max-width: 300px;
  border: 10px solid transparent;
  transition: 0.25s;
}

.imgScroll div img:hover {
  border: 10px solid #fff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.imgScroll:hover div img {
  opacity: 0.05;
  filter: blur(5px);
}

.imgScroll div img:hover {
  opacity: 1;
  filter: blur(0px);
}

.list-games {
  display: none;
}

.list-games.active {
  display: contents;
}

